<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aihuishou.hackserver.core">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>


        <service android:name="com.aihuishou.hackserver.core.vpn.MyVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.nbox.hackserver.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/hack_file_path" />
        </provider>
    </application>
</manifest>